.place__paragraphs {
  grid-column: 2/3;
  grid-row: 2/3;
  list-style-type: none;
  padding: 0;
  align-self: start;
  min-width: 484px;
}

@media screen and (max-width: 1184px) {
  .place__paragraphs {
    min-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraphs {
    min-width: 352px;
  }
}

@media screen and (max-width: 740px) {
  .place__paragraphs {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 100%;
    margin: auto;
    min-width: 288px;
  }
}
