.place__paragraphs {
  grid-column: 2/3;
  grid-row: 2/3;
  list-style-type: none;
  padding: 0;
  align-self: start;
}

@media screen and (max-width: 1184px) {
  .place__paragraphs {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
