.place__paragraphs {
  grid-column: 2/3;
  grid-row: 2/3;
  list-style-type: none;
  padding: 0;
  align-self: start;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraphs {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    max-width: 100%;
  }
}
