.place__website-link{
    color: #ffffff;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    transition: opacity 0.5s linear 0.1s;
}

.place__website-link:hover{
  opacity: 0.8;
}
