.cover__subtitle {
  color: #fff;
  z-index: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 1.22;
  max-width: 360px;
  transition: opacity 0.5s linear 0.1s;
}

.cover__subtitle:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
}
